body,
html {
    height         : 200%;
    scroll-behavior: smooth;
}

.container-fluid {
    margin : 0;
    padding: 0;
}

.welcome {
    background-image     : url("./assets/talles-alves-VSss57q-Cxs-unsplash.jpg");
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    height               : 1000px;
    overflow-x           : hidden;
}

.btn {
    display      : inline-block;
    width        : 70px;
    height       : 70px;
    background   : #f1f1f1;
    margin       : 10px;
    border-radius: 35%;
    box-shadow   : 0 10px 20px -5px #00000070;
    color        : #778086;
    overflow     : hidden;
    position     : fixed;
    right        : 90px;
    top          : 30px;
}

.btn i {
    line-height: 60px;
    font-size  : 26px;
    transition : 0.2s linear;
}

.btn:hover {
    transform : scale(1.3);
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
}

.icons {
    position: relative;
    display : inline-block;
}

.icons .tooltip-text {
    visibility      : hidden;
    width           : 200px;
    background-color: rgb(53, 52, 52);
    color           : #fff;
    text-align      : center;
    border-radius   : 6px;
    padding         : 5px 0;
    opacity         : 0;
    transition      : opacity 0.2s linear;

    /* Position the tooltip */
    position: absolute;
    left    : 1670px;
    top     : 115px;
}

.icons .tooltip-text::after {
    content     : "";
    position    : absolute;
    bottom      : 100%;
    left        : 50%;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(53, 52, 52);
}

.icons:hover .tooltip-text {
    visibility: visible;
    opacity   : 1;

}

#fb {
    content: "\f09a";
}

.welcome-content {
    padding-top : 150px;
    padding-left: 150px;
}

.welcome-content-header {
    font-family: 'Montserrat', sans-serif;
}

#cleanerSneaker {
    font-size: 75px;
}

#byAmadeo {
    font-size: 40px;
}

.welcome-content-body {
    font-family : 'Roboto', sans-serif;
    padding-top : 10px;
    padding-left: 3px;

}

#motto {
    font-size : 20px;
    font-style: italic;
}

.services {
    position: relative;
}